<div class="sheet padding-10mm">
  <header class="row">
    <div class="col">
      <section>
        <h2>Senior Software Developer</h2>
        <p><i>* details available on request</i></p>

      </section>
    </div>
    <div class="col">
      <h1>Samuel<br>Cole</h1>
    </div>
  </header>

  <div class="row">

    <div class="col">
      <section class="summary">
        <h2>Summary</h2>
        <p>A highly talented and enthusiastic full stack web/software developer, with over 12 year’s commercial experience. Passionate about detail, coding, collaboration, best practices and the latest technologies. Professionally skilled in; Asp.Net, frontend web development, backend programming, user experience, and user interface. Works to an extremely high standard with an excellent level of understanding and an impeccable eye for detail.</p>
      </section>

      <section class="employment">
        <h2>Employment</h2>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">AX</p>
                <p><a href="https://ax-uk.com" class="link">ax-uk.com</a></p>
              </td>  
              <td width="50%">
                <p>June 2019 to present</p>
                <p><b>Senior Software Developer</b></p>
              </td>
            </tr>
          </table>

          <ul>
            <li>Lead architecture design and development of services for IoT device communications.</li>
            <li>Intergrating numerous IoT devices for asset tracking and data analysis accross our services.</li>
            <li>Leading developer upgrading existing web-based applications using Node, Angular2+ and Socket.io.</li>
            <li>Fully integrated validation and security filters using JWT and WebAPI for all current applications.</li>
            <li>Implementing CI/CD pipelines for new and existing projects.</li>
            <li>Enhancing existing web-based UI/UX.</li>
            <li>Leading developer on mobile applications for both Android (Android studio) and iPhone (XCode).</li>
          </ul>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">AX</p>
                <p><a href="https://ax-uk.com" class="link">ax-uk.com</a></p>
              </td>  
              <td width="50%">
                <p>March 2016 to June 2019</p>
                <p><b>Lead Web Developer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Lead migration of services and infrastructure to Azure DevOps.</li>
            <li>Lead developer on multiple web and mobile applications.</li>
            <li>Lead for a team using Kanban boards, work scheduled sprints, objective setting, storyboarding and project planning.</li>
            <li>Management of a team providing support, software guidance and assisting in personal development including training apprentices.</li>
            <li>Upheld established standards, policies and procedures while moving the team to an Agile work  environment.</li>
            <li>Administered development, staging, and live environments.</li>
          </ul>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">Accident Exchange</p>
                <p><a href="https://ax-uk.com" class="link">ax-uk.com</a></p>
              </td>  
              <td width="50%">
                <p>March 2014 to Nov 2016</p>
                <p><b>Web Developer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Developed and maintained a range of internal and external website applications for both B2B and B2C using a range of technologies including ASP.NET, MVC, C#.</li>
            <li>Lead developer for the payment processing portal including integration with Barclaycard EDPQ.</li>
            <li>Replaced several legacy ASP systems with generic, reusable .NET solutions.</li>
            <li>Partnered with designers to create and continuously improve UX/UI across brands.</li>            
          </ul>
        </section>
      </section>
      
    </div>

    <div class="col">

      <section class="employment">
        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">Bluesky Interactive</p>
                <p><a href="https://www.blueskyinteractive.co.uk/" class="link">blueskyinteractive.co.uk</a></p>
              </td>  
              <td width="50%">
                <p>February 2013 to March 2014</p>
                <p><b>Senior Web Designer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Headed up a team of eight web designers, ensuring all work is completed to a high standard. Working to deadline offering continual help and support to aid their development.</li>
            <li>Worked closely with developers and software architects to complete bespoke back-end solutions.</li>
            <li>Transformed business requirements to technical design after thorough analysis.</li>
            <li>Prioritising and fixing site-related problems and implementing new features based on user feedback.</li>
          </ul>
        </section>
        
        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">Bluesky Interactive</p>
                <p><a href="https://www.blueskyinteractive.co.uk/" class="link">blueskyinteractive.co.uk</a></p>
              </td>  
              <td width="50%">
                <p>July 2010 to March 2013</p>
                <p><b>Web Designer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Use hand coded HTML5, CSS3, jQuery and VB.NET to turn approved designs into standards compliant, quick loading, cross browser compatible, mobile friendly websites on the company platform.</li>
            <li>Lead frontend developer of the core CRM/CMS bespoke framework "cognition" with stock management, site specific analytics and lead tracking.</li>
            <li>Turn initial design briefs into clean, contemporary, brand compliant designs to fulfil the client’s requirements and offer their products and services effectively.</li>
            <li>Scheduling of projects and liaising with account management and sales teams to ensure work is completed to deadline.</li>
            <li>Ability to adapt to client requirements on a project-by-project basis.</li>
          </ul>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">Design Vinyl Graphics</p>
                <p>&nbsp;</p>
              </td>  
              <td width="50%">
                <p>Sept 2002 to Sept 2007</p>
                <p><b>Graphic Designer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Use of design based applications to design and produce small and large scale panels, and graphic displays.</li>
            <li>Installation of graphics at small and large business premises and exhibition halls.</li>
            <li>Use of Adobe Suite illustrator and Photoshop to render and design corporate identities and high quality prints. </li>
            <li>Maintenance and operation of computers and machinery for the production of prints.</li>
          </ul>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">Impact Design &amp; Print</p>
                <p>&nbsp;</p>
              </td>  
              <td width="50%">
                <p>Aug 1999 – Sept 2002</p>
                <p><b>Web Developer</b></p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>Working as part of a team in the creation of many new media concepts including web design layouts, backend programming (HTML, CSS, CGI and PHP to name a few).</li>
            <li>Designed Flash applications with the use of ActionScript.</li>
          </ul>
        </section>
      </section>

    </div>

  </div>
</div>

<div class="sheet padding-10mm">
  <div class="row">  
    <div class="col">
      <section class="key-skills">
          <h2>Key Skills</h2>
          <ul>
            <li><b>Web frontend</b>; Hand coded HTML5 and CSS3, SaSS, LeSS</li>
            <li><b>Coding languages</b>; C#, VB, C++, Java, JavaScript, TypeScript, RegEx, PHP</li>
            <li><b>Javascript, associated libraries and frameworks including</b>; AngualrJS, Angular2+, RxJS, React, Vue, Knockout, jQuery</li>
            <li><b>Cloud services</b>; Azure, Google Cloud + Firebase, AWS, Heroku</li>
            <li><b>Database development</b>; Microsoft SQL Server, CosmosDB, Oracle, MySQL, MongoDB, SQLite</li>
            <li><b>Mobile app development</b>; Xamarin, Android studio, XCode, Ionic, Cordova</li>
            <li><b>Frameworks</b>; ASP.NET MVC, .NET Core, Entity Framework, SignalR</li>
            <li><b>IDEs</b>: Visual Studio, VS Code, Android Studio, Brackets.io, Notepad++</li>
            <li><b>Version control</b>: TFS, Git</li>
            <li>Familiar with Agile and Scrum working methods</li>
            <li>Analysing and debugging code</li>
            <li>Unit testing</li>
            <li>Proficient in Adobe Creative Suite (Illustrator , Photoshop)</li>
            <li>Excellent cross browser understanding</li>
            <li>Semantic and SEO friendly coding</li>
            <li>Integrating and working with Node.js, npm, webpack, grunt and gulp projects</li>
            <li>Building and working with a wide spectrum of open source packages, web services and APIs</li>
            <li>Mobile optimised websites</li>
            <li>Website wireframing, design and build</li>
            <li>Responsive website builds and conversions</li>
            <li>Continuous research and development of latest technologies and best practice</li>
          </ul>
      </section>
    </div>
    <div class="col">
      <section class="education">
        <h2>Education</h2>
        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">BSc Software Engineering & Multimedia</p>
                <p class="link">Birmingham City University</p>
              </td>  
              <td width="50%">
                <p>Sept 2009 – May 2010</p>
                <p><b>Grade: 2.1</b></p>
              </td>  
            </tr>
          </table>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">HND Computing Information & Systems</p>
                <p class="link">Josiah Mason College</p>
              </td>  
              <td width="50%">
                <p>Sept 2007 – Aug 2009</p>
                <p><b>Grade: Distinction</b></p>
              </td>  
            </tr>
          </table>
        </section>

        <section>
          <table width="100%" class="employment-table">
            <tr>
              <td width="50%">
                <p class="sub-title">A-levels and GCSEs</p>
                <p class="link">John Willmott School</p>
              </td>  
              <td width="50%">
                <p>Sept 1993 – July 1999</p>
                <p>&nbsp;</p>
              </td>  
            </tr>
          </table>

          <ul>
            <li>9 GCSE's grades A-C including Maths and English</li>
            <li>AS-Level in Information Computing Technology</li>
          </ul>
        </section>

      </section>

      <section class="cerificates">
        <h2>Licenses &amp; certificates</h2>
        <p>Currently studying for: Microsoft Certified: Azure Developer Associate</p>
      </section>

      <section class="interests">
        <h2>Hobbies &amp; interests</h2>
        <p>My hobbies stem from my problem solving capabilities and creativity. I enjoy online gaming and cracking puzzles. I am currently training myself to beat my own times solving the rubix cube. I also use my spare time to code and I listen to music whenever I can.</p>
      </section>

      <section class="feferences">
        <h2>References</h2>
        <p><i>* Please do not hesitate to contact me if you require references from any of my previous employers.</i></p>
      </section>

    </div>
  </div>
</div>
